:8080 {
 root * /srv
 encode gzip
 try_files {path} /index.html
 header /demo/*.srt Content-Type "application/x-subrip; charset=utf-8"
 file_server
 header X-Content-Type-Options nosniff
 header Referrer-Policy strict-origin-when-cross-origin
}
